@import './base.css';
@import './common.css'; /* USGS Viz ID Stylesheet */
@import './custom.css'; /* USGS Viz ID Stylesheet */

/* whole page except header fit within viewport - no scrolling */
#app {
  /* height: calc(100vh + 87px); 87 is the height of the USGS header */
  margin: 0 auto;
}

/* css styles specific to page content exclusive of header and footer*/
/* NOT component-specific */
.title {
  color: var(--dodger-blue);
}
.text-container {
  max-width: 70rem;
  margin: 0 auto 0 auto;
}
.figure-container {
  max-width: 80vw;
  margin: 0 auto 0 auto;
}
